@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <form id="primateljiForm" onsubmit="return dodajPrimatelja(event);" method="post">
        <div class="row mb-3">
            <label for="imePrezime" class="col-sm-2 col-form-label">Ime i prezime</label>
            <div class="col-sm-10 w-50">
                <input id="imePrezime" class="form-control" name="imePrezime" required/>
            </div>
        </div>
        <div class="row mb-3">
            <label for="brojMobitela" class="col-sm-2 col-form-label">Broj mobitela</label>
            <div class="col-sm-10 w-50">
                <input id="brojMobitela" class="form-control" name="brojMobitela" pattern="[0-9]+" required/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Dodaj primatelja</button>
    </form>
</div>
<br/>
<div>
    <form id="porukaForm" method="post" onsubmit="posaljiPoruku(event)">
        <fieldset>
            <table class="table table-bordered">
                <thead>
                <tr class="table-secondary">
                    <th scope="col">Poslati</th>
                    <th scope="col">Ime i prezime</th>
                    <th scope="col">Broj mobitela</th>
                </tr>
                </thead>
                <tbody id="primateljiTable">
                </tbody>
            </table>
        </fieldset>

        <div>
            <label for="imePrezime" class="form-label">SMS Poruka (max 160 znakova, preostalo <span id="preostaloZnakova">160</span> znakova)</label><br/>
            <textarea oninput="updatePreostaloZnakova()" id="poruka" name="poruka" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Pošalji</button>
    </form>
    <div>
        <p id="success" hidden>Poruka uspješno poslana</p>
    </div>
</div>

@section Scripts
{
    <script>
        const primateljiUrl = "https://localhost:7064/api/Primatelji";
        const porukeUrl = "https://localhost:7064/api/Poruke";

        $("#primateljiTable").ready(function() {
            $.ajax({
                type: "GET",
                url: primateljiUrl,
                success: function(data, textStatus, jqXHR) {
                    const primateljiTable = $("#primateljiTable")[0];

                    data.forEach(p => addPrimateljToTable(primateljiTable, p));
                }
            });
        });

        function dodajPrimatelja(event) {
            event.preventDefault();

            const form = $("#primateljiForm")[0];
            const formData = new FormData(form);

            const data = {
                "imePrezime": formData.get("imePrezime"),
                "brojMobitela": formData.get("brojMobitela")
            };

            $.ajax({
                type: "POST",
                url: primateljiUrl,
                data: JSON.stringify(data),
                success: function(data, textStatus, jqXHR) {
                    const primateljiTable = $("#primateljiTable")[0];
                    addPrimateljToTable(primateljiTable, data);

                    const success = $("#success")[0];
                    success.hidden = true;
                },
                contentType: "application/json"
            });

            return false;
        }

        function posaljiPoruku(event) {
            event.preventDefault();

            const form = $("#porukaForm")[0];
            const formData = new FormData(form);

            const data = {
                "primatelji": formData.getAll("id"),
                "poruka": formData.get("poruka")
            };

            $.ajax({
                type: "POST",
                url: porukeUrl,
                data: JSON.stringify(data),
                success: function(data, textStatus, jqXHR) {
                    const success = $("#success")[0];
                    success.hidden = false;
                },
                contentType: "application/json"
            });

            return false;
        }

        function updatePreostaloZnakova() {
            const span = $("#preostaloZnakova")[0];
            const poruka = $("#Poruka")[0];

            span.innerText = 160 - poruka.value.length;
        }

        function addPrimateljToTable(table, primatelj) {
            const row = table.insertRow();

            const checkboxColumn = row.insertCell();
            const imePrezimeColumn = row.insertCell();
            const brojMobitelaColumn = row.insertCell();

            const checkbox = document.createElement("input");
            checkbox.type = "checkbox";
            checkbox.name = "id";
            checkbox.value = primatelj.id;

            checkboxColumn.appendChild(checkbox);
            imePrezimeColumn.innerText = primatelj.imePrezime;
            brojMobitelaColumn.innerText = primatelj.brojMobitela;

        }
    </script>
}
